@font-face {
  font-family: "Handletter";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400 500 600 700;
  font-style: normal;
}

body {
  background-color: white !important;
}

#modalbtn {
  height: 50px;
  width: 100%;
  background: none;
  border: none;
}

.modal-header {
  max-width: 880px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse
}

.modal-header h1 {
  margin: 0 auto;
  text-align: center;
  color: #e8344e;
  font-size: 64px;
  letter-spacing: -1px;
  font-family: "Handletter" !important;
}
#modal-closebtn {
  width: 30px;
  height: 30px;
  right: 0;
  background: none;
  border: none;
}

#modal .modal-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 880px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: "Pretendard-Regular" !important;
}

#modal-title {
  font-size: 24px;
  font-weight: 600;
}

.movie-poster {
  max-width: 350px;
  max-height: 500px;
}

#movie-img {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  flex: 0 0 auto;
  border-color:  #e9e9e9;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.movie-info {
  font-size: 18px;
  padding: 15px 30px;
  max-width: calc(100% - 10px);
  max-height: 100%;
  flex: 1 0 40%;
}

.movie-info h1,h2,h3 {
  margin-bottom: 10px;
}

#overview {
  line-height: 120%;
}

.reviewForm {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  font-family: "Pretendard-Regular";
  text-align: center;
}

.reviewFormAll {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
}

.reviewFormAll > label {
  text-align: left;
  margin-right: 10px;
  flex: 1;
  font-weight: 500;
  font-size: 18px;
}

input,
textarea {
  width: 300px;
  box-sizing: border-box;
  min-height: 30px;
  padding: 10px;
  font-family: "Pretendard-Regular";
}

.submitReviewButton {
  width: 150px;
  margin: 20px auto;
  font-size: 20px;
  padding: 10px;
  font-family: "Pretendard-Regular";
  background-color: #e8344e;
  border-style: none;
  border-radius: 5px;
  color: white;
}

#reviewList {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  text-align: left;
  height: auto;
  font-family: "Pretendard-Regular";
  font-size: 18px;
}

#reviewList div {
  max-width: 100%;
  height: fit-content;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

#reviewList li {
  margin-bottom: 10px;
}

#reviewList button {
  font-family: "Pretendard-Regular";
  padding: 5px 10px;
  font-size: 16px;
  margin-top: 5px;
  margin-right: 10px;
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #151515;
  color: #151515;
}

button:hover {
  cursor: pointer;
}

#reviewList button:hover {
  background-color: #151515;
  color: white;
}

.actorInfo {
  max-width: 880px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  font-family: "Pretendard-Regular";
  text-align: center;
}

.actorInfo h1, h3 {
  margin: 20px auto;
}

.actorInfo h1 {
  font-size: 20px;
}

#actor-img-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap:wrap;
}

.actor-img {
  max-width: 100%;
  max-height: 420px;
  height: auto;
}