/* :root {
  --bg-body-color: gainsboro;
  --bg-header-color: gainsboro;
  --bg-main-color: gainsboro;
  --bg-movieCard-color: rgba(248, 248, 248, 0.877);
} */

@font-face {
  font-family: 'Handletter';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
}

body {
  background-color: white !important;
}


#title {
  margin: 0 auto 30px auto;
  font-size: 64px;
  letter-spacing: -1px;
  color: #e8344e;
  font: bold;
  font-family: 'Handletter' !important;
}

#myTitle {
  margin: auto;
  width: 1080px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#searchMovie {
  color: black;
}

#searchInput {
  width: 300px;
}

#searchBtn {
  width: 70px;
}

main {
  background-color: var(--bg-main-color);
}

.movieCardList {
  width: 1080px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 12px;
  margin: 100px auto;
  padding: 25px;
}

.movieCard {
  display: flex;
  flex-direction: column;

  height: 1000px;
  border: 1px solid #ddddddad;
  border-radius: 8px;
  background-color: var(--bg-movieCard-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);

  overflow: hidden;
  margin-bottom: 70px;
}

.movieCard img {
  padding: 15px;
  height: 485px;
  width: 100%;
}

.movieCard h2 {
  margin-top: 15px;
  margin-bottom: 13px;
  margin-left: 15px;
  font-weight: bold;
}

.movieCard p {
  margin-left: 15px;
  margin-right: 20px;
}

.movieOverview {
  height: 370px;
}

#toTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.form-control, .btn {
  outline: none !important;
  box-shadow: none !important;

}

.btn-outline-light {
  color: #353535 !important;
  border-color: #353535 !important;
}

.btn-outline-light:hover {
  opacity: 70% !important;
}

.container-fluid {
  justify-content: center !important;
}
