@font-face {
  font-family: "Handletter";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
}

body {
  background-color: white !important;
}

/* 모달 창 */
#modal {
  position: fixed;
  background-color: beige;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

#modalbtn {
  height: 50px;
  width: 300px;
}

#closebtn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal-header {
  background-color: #000000;
}

.modal-header h1 {
  width: 100%;
  text-align: center;
  color: rgb(234, 234, 234);
}

#modal .modal-main {
  width: 100%;
  height: 100px;
  padding: 0 50px;
  background-color: cornflowerblue;
}

#myTitle {
  margin: 50px auto 50px auto;
  width: 100%;
  max-width: 1080px; /* 큰 화면을 위한 최대 너비 설정 */
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  margin: 30px auto 30px auto;
  font-size: 75px;
  letter-spacing: -1px;
  color: #e8344e;
  font: bold;
  font-family: "Handletter" !important;
}

#toggleBtn {
  height: 40px;
  width: 130px;
  background-color: transparent;
  color: black;
  border-color: #a3a1a1;
  border-width: 1px;
  border-radius: 5px;
}

#toggleBtn:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

#searchMovie {
  color: black;
}

#searchInput {
  width: 300px;
}

#searchBtn {
  width: 70px;
  background-color: #b9b9b9;
  color: white;
  border-color: transparent;
  border-radius: 5px;
}

#searchBtn:hover {
  background-color: white;
  color: black;
  border-color: #b9b9b9;
}

.movieCardList {
  width: 100%;
  max-width: 1080px; /* 큰 화면을 위한 최대 너비 설정 */
  margin: 30px auto;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 12px;
}

/* 작은 화면을 위한 미디어 쿼리 추가 */
/* screen: 화면에 대한 미디어 타입 지정 - 컴퓨터 화면 */
@media screen and (max-width: 500px) {
  .movieCardList {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  #title {
    font-size: 60px;
  }
}

.movieCard {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 720px;
  border: 1px solid #ddddddad;
  border-radius: 8px;
  background-color: var(--bg-movieCard-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  margin-bottom: 70px;
}

.poster {
  height: 485px;
  width: 100%;
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.movieCard h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 15px;
  font-weight: bold;
}

.movieCard > .movieReleasedDate {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.movieCard > .movieGenre {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.movieCard > .movieRate {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.movieCard > .movieGenre {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.movieCard > .movieRate {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.movieOverview {
  position: absolute; /*가장 가까운 위치에 있는 조상 요소를 기준으로 배치*/
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  color: transparent;
  height: 485px;
  width: fit-content;
  box-sizing: border-box; /* 박스의 크기를 테두리 기준으로 정함 */
  line-height: 1.8; /* 텍스트 줄간격*/
  font-size: 18px;
}

.poster:hover {
  background-color: rgba(31, 30, 30, 0.671);
  filter: brightness(0.8);
}

.movieOverview:hover {
  background-color: rgba(31, 30, 30, 0.671);
  color: white;
  overflow-y: scroll;
}

#toTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 38px;
  width: 53px;
  background-color: #b9b9b9;
  color: white;
  border-color: transparent;
  border-radius: 5px;
}

#toTop:hover {
  background-color: white;
  color: black;
  border-color: #b9b9b9;
}

.form-control,
.btn {
  outline: none !important;
  box-shadow: none !important;
}

.form-control,
.btn {
  outline: none !important;
  box-shadow: none !important;
}

.btn-outline-light {
  color: #353535 !important;
  border-color: #353535 !important;
}

.btn-outline-light:hover {
  opacity: 70% !important;
}

.container-fluid {
  justify-content: center !important;
}

.input-group-text {
  background-color: transparent !important;
  border: none !important;
  margin-right: 3px;
}

.btn-group {
  width: 50px;
  display: flex !important;
}

#soltbtn {
  text-align: center;
  margin: 20px auto 0 auto;
}
